<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" contents="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <title>Portfolio</title>

   
</head>

<body>
<div class="frame">
<div class="main_frame">
 <div class="left_frame">
        <div class ="left_1">
            <div class="left_1-1">
                <img src="images/profile.png"  
                width="156px"
                height="142px"
                alt="">
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
                <a href="" class="link_href">
                    <div class="icon">
                      <img src="icon/facebook.svg" class="icon-1" />
                    </div>
                  </a>
                  <a href="" class="link_href">
                    <div class="icon">
                      <img src="icon/instagram.svg" class="icon-1" />
                    </div>
                  </a>
                  <a href="" class="link_href">
                    <div class="icon">
                      <img src="icon/twitter.svg" class="icon-1" />
                    </div>
                  </a>
                  <a href="" class="link_href">
                    <div class="icon">
                      <img src="icon/linkeding.svg" class="icon-1" />
                    </div>
                  </a>
                  <a href="" class="link_href">
                    <div class="icon">
                      <img src="icon/youtube.svg" class="icon-1" />
                    </div>
                  </a>
                  <a href="" class="link_href">
                    <div class="icon">
                      <img src="icon/dribbble.svg" class="icon-1" />
                    </div>
                  </a>
            </div>

        </div>
        <div class ="marginer"></div>
        <div class="left_2">
          <div class="left_2-1">
            <p class="left_items-age item-all">Age:</p>
            <span><%=user.age%></span>
          </div>
          <div class="left_2-1">
            <p class="left_items-residence item-all">Residence:</p>
            <span><%=user.residence%></span>
          </div>
          <div class="left_2-1">
            <p class="left_2-freelance item-all">Freelance:</p>
            <span class="left_2-2">Available</span>
          </div>
          <div class="left_2-1">
            <p class="lft_2-adress item-all">Adress:</p>
            <span><%=user.adress%></span>
          </div>
        </div>
        <div class ="marginer"></div>
        <div class ="left_3"></div>
        <div class ="marginer"></div>
        <div class ="left_4"></div>
        <div class ="marginer"></div>
        <div class ="left_5"></div>
        <div class ="marginer"></div>
        
        

    </div>
    <div class="midd_frame"></div>
    <div class="right_frame"></div>


</div>
</div>
</body>

</html>